h1{    /*This ID IS case sensitive*/
    color:black;
    font-size:16px;
    text-align:center;
}
textbody{    /*This ID IS case sensitive*/
    color:black;
    font-size:12px;
    text-align:center;
}

h1.clubName{
    font-size:60px;
    text-align:center;
    color:red;
    margin:0px;
}
td.clubHead{
    padding: 20px;
    background: lightblue;
    width: 50%;
}
td.poll{
    padding: 1px;
    background: lemonchiffon;
    border-width: 1px;
    text-align: center;
/*    border-collapse: collapse; */
}
td.other{
    padding:5px;
    background: darkkhaki;
}

textbody.genMsg{
    font-size:20px;
    text-align:left;
    color:#00008b;
}

p.myFont{
    font-family: Arial, Helvetica, sans-serif;
    /* http://www.w3schools.com/cssref/css_websafe_fonts.asp */
}


table,td{
    border-style: solid;
    border-width: 2px;
    text-align: center;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    padding: 30px;
}

table.t2{
    width: auto;
    border: 2px ;
    text-align: center;
    border-collapse: collapse;
}

td.td2{
    border: 2px hidden;
    
}
